<div class="container">
  <!--  <a class="btn btn-success" routerLink="/admin">Back</a>-->
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th>Availability</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of productList">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.productCategory}}</td>
      <td>{{checkQuantity(product)}}</td>
      <td>
        <!--        <a href="#" [routerLink] = "['/product/',product.id]" class="btn btn-info actions">Details</a>-->
        <!--        <a href="#" class="btn btn-primary actions"  [routerLink] = "['/product/',product.id]">Edit</a>-->
        <button type="button" class="btn btn-danger actions" (click)="addProductToShopCart(product.id)">Add to Shop
          Cart
        </button>
        <button type="button" class="btn btn-danger actions" (click)="addProductToFavoriteItem(product.id)">Add to Favorites
        </button>
      </td>
    </tr>
<!--    <a class="btn btn-success" routerLink="/newProduct">Add new product</a>-->
    </tbody>
  </table>

</div>


